image: ubuntu:18.04 # 16.04 #

stages:
  - build
  - test
# - ui-tests
# - api-tests
# - artifacts

default:
  before_script:
#    # Install Docker
#    - apt-get update -y
#    - apt-get install -y apt-transport-https ca-certificates curl gnupg-agent  software-properties-common
#    - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
#    - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu  $(lsb_release -cs) stable"
#    - sudo apt-get update
#    - sudo apt-get install -y docker-ce docker-ce-cli containerd.io
#    - sudo groupadd docker || true
#    - sudo usermod -aG docker $USER
#    - newgrp docker
#    # Install Java
#    - apt-get update -y
#    - apt-get install -y wget curl zip unzip sudo
#    - curl -s "https://get.sdkman.io" | bash
#    - source "$HOME/.sdkman/bin/sdkman-init.sh"
#    - sdk version
#    - sdk install java 11.0.7-zulu
#    # Run Selenoid
    - curl -s https://aerokube.com/cm/bash | bash && ./cm selenoid start --vnc
  after_script:
    - docker rm -f $(docker container ls -q)

build:
  stage: build
  script:
    - ./gradlew clean assemble

ui-tests:
  tags:
    - home
  stage: test
  script:
    - ./gradlew test allureReport
  artifacts:
    name: "Allure report"
    paths:
      - ./allure-report